@media only screen and (max-width:576px){
    #logo{
        width: 80%;
        height:auto;
    }
} 
/* Header 
=========================*/
nav .nav-item{
    padding:10px 20px;
}
nav li a{
    font-size: 20pt;
}
#logo{
    width:100%;
    height: auto;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */

#Search-button{
    background-color: blue;
    color:#fff;
}

*{
    font-family: 'Nunito', sans-serif;
}

p{
    margin: 0px 30px;
}
.search-section{
    background-image:url(images/search-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width:100vw;
    padding-bottom: 300px;
}
#Search-button{
    width:auto;
}
#Search-query{
    width:90%;
}
 #Search-query,#Search-button{
    font-size: larger;
    border-radius: 4px;
    height: 1.3cm;
    z-index: 1;
    padding: 0 20px;
    
}
div#blockquote-Header{
    font-family:Georgia, 'Times New Roman', serif !important;
    font-size: 20pt;
    color:#fff;
    line-height: normal;
    padding-top: 90px !important;
}
/* Body 
=========================== */
body{
    background-color: #000000;
}
#result li{
    list-style-type: none;
}

.single_features p {
    font-weight: bold;
    font-size: 12pt;
}
.section_title p{
    font-weight: 800;
}
/* Cards 
=============================*/
.ingredient-card{
    width:25rem;
    padding:auto 30px;
    margin:10px ;
    background-color: rgba(47, 45, 54, 0.438);
    
}
.ingredient-card h3{
   color:#fff;
}
.img-card{
    object-fit: cover;
    width:70%;
    height:auto;
    align-self: center;
}
h3,a{
    cursor: pointer;
}
ul li{
    list-style: none;
}
.card img{
    object-fit: cover;
}
.card h3,.card h4{
    text-align: center;
}
