/* Header 
=========================*/
nav .nav-item{
    padding:10px 20px;
}
nav li a{
    font-size: 20pt;
}
nav img{
    position: absolute;;
    top:20px;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */
#Search-button{
    background-color: blue;
    color:#fff;
}

*{
    font-family: 'Nunito', sans-serif;
}

p{
    margin: 0px 30px;
}
.search-section{
    background-size: cover;
}

.search-section img{
    z-index: -1;
    opacity: 0.65;
    width:100%;
}
 #Search-query,#Search-button{
    /* padding:0px 10px; */
    font-size: larger;
    border-radius: 4px;
    height: 1.3cm;
    z-index: 1;
    position: relative;
    bottom:300px;
    
}
.loader-wrapper{
    background-color: #a8a8a8;
    position: relative;
}
.loader-wrapper div{
    color:#000000;
    text-transform: uppercase;
}

.loader{
    position: absolute;
    justify-content: center;
    border-radius: 50%;
    border-top: 16px solid #f0481f;
    border-right:16px solid #fff;
    border-bottom:16px solid #f0481f;
    border-left:16px solid#fff ;
   
    width: 120px;
    height: 120px;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 /* #result {
     
}  */

