/* Header 
=========================*/
html{
    height: 100%;
}

nav .nav-item{
    padding:10px 20px;
}
#logo{
    width:100%;
    height: auto;
}

#Search-button{
    background-color: blue;
    color:#fff;
}

*{
    font-family: 'Nunito', sans-serif;
}

p{
    margin: 0px 30px;
}
div#blockquote-Header{
    font-family:Georgia, 'Times New Roman', serif !important;
    font-size: 20pt;
    color:#fff;
    line-height: normal;
    padding-top: 90px !important;
}

/* ==================ANIMATIONS===================== */
.hero_content h2{
    animation-name: fadeInUp;
    animation-duration: 1.3s;
    animation-delay: 0.2s;
}
.hero_content p{
    animation-name: fadeInUp;
    animation-duration: 1.3s;
    animation-delay: 0.5s;
}
#blockquote-Header q em{
    animation-name: slidein ;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-play-state:running;
}
#features h4,#features p{
    animation-name: fadeInUp;
    animation-duration: 1.3s;
    animation-delay: 0.2s;

}
.section_title h4{
    visibility: visible; 
    animation-duration: 1.3s; 
    animation-delay: 0.2s; 
    animation-name: fadeInUp;
}
div.single_features{
    visibility: visible; 
    animation-duration: 1.3s; 
    animation-delay: 0.2s; 
    animation-name: fadeInUp;
}
.search-section{
    visibility: visible;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-name: fadeInUp;
}
#Search-query,#Search-button{
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: slidein;
    animation-timing-function: linear;
    animation-fill-mode:none;
}
@keyframes slidein{
    0% {left:0px;opacity:0}
    50%{left:50%;opacity:0.5}
    100%{left:100%;opacity:1}
}

.ingredient-card{
    visibility: visible;
    animation-duration: 1.3s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}
/*===================SEARCH LANDING SECTION===========================*/
.search-section{
    background-image:url(images/search-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:50%;
    width:100%;
    padding-bottom: 300px;
}
#Search-button{
    width:auto;
    opacity: 0.6;
    transition: 0.3s;
}
#Search-button:hover{
    font-weight: 800;
    opacity:1;
}
#Search-query{
    background-color: rgb(53, 35, 35);
    color: orangered;
    width:90%;
}
 #Search-query,#Search-button{
    font-size: 17pt;
    border-radius: 7px;
    height:70px;
    z-index: 1;
    padding: 0 30px;
    margin-top: 500px;
}

  
/* BODY
=========================== */
body{
    background: linear-gradient(68deg, #4ac5d4 0.9em, rgba(255, 255, 255, 0) 0.99em) 3em -3em, linear-gradient(-68deg, #4ac5d4 0.9em, rgba(255, 255, 255, 0) 0.99em) -3em -3em, radial-gradient(circle, #4ac5d4 0.9em, rgba(255, 255, 255, 0) 0.99em) 0 0, linear-gradient(68deg, #f5c747 0.9em, rgba(255, 255, 255, 0) 0.99em) 0 0, linear-gradient(-68deg, #f5c747 0.9em, rgba(255, 255, 255, 0) 0.99em) 0 0, radial-gradient(circle, #f5c747 0.9em, rgba(255, 255, 255, 0) 0.99em) 3em 3em;
    background-size: 6em 6em;
    background-color: #edfaf9;
    background-repeat: repeat;
    font: 14px/2 "Trebuchet MS", Verdana, sans-serif;

    overflow-x:hidden;
    overflow-y: auto;
}
#result li{
    list-style-type: none;
}
.section_title p{
    color:#a52a2a !important;
    font-weight:800;
}
.single_features{
    padding:15px 0px;
}
.single_features p {
    font-weight: bold;
    font-size: 12pt;
}

/* Cards 
=============================*/
.ingredient-card{
    width:22rem;
    padding:2px 30px;
    margin:10px ;
    background-color: rgba(190, 190, 190, 0.438);
    color:#fff;

}
.ingredient-card h3{
   color:#fff;
}
.img-card{
    object-fit: cover;
    width:70%;
    height:auto;
    align-self: center;
}
h3,a{
    cursor: pointer;
}
ul li{
    list-style: none;
}
.card img{
    object-fit: cover;
}
.card h3,.card h4{
    text-align: center;
}
.card-body a h3:hover{
    background-color: rgb(0, 255, 42);
    color:#000;
}
.card h4{
    font-size:22pt;
    padding:25px 0px;
}
.card h3{
    color:rgb(45, 45, 119);
}
table {
    border-radius: 10px;
}
.ingredient-card .card-body ul{
    color:rgb(15, 20, 19);
    font-weight: 800;;
}

.video-link{
    padding:15px 10px ;
    border:2px solid #288fe9;
    text-align: center;
    margin-bottom: 20px;
}
.video-link a:hover{

    background-color: rgb(255, 8, 0);
    color:cornsilk;
}
/* ================================MEDIA QUERIES================================== */
@media only screen and (max-width:600px){
    #logo{
        position: absolute;
        top:10px;
        width: 80%;
        height:auto;
    }
    #Search-query{
        border-radius: 50px;
        font-size: 13pt;
        position: absolute;
        top:35px;
        
    }

    #Search-button{
        font-size: 10pt;
        height:1cm;
        padding:5px 10px;
    }
    .card h4{
        font-size: 20pt;
    }
    .search-section{
        background-image:url(images/search-background.jpg);
        background-size:auto;
        background-repeat: no-repeat;
        height:50%;
        width:100%;
        padding-bottom: 10px;
        position: relative;
    } 
}   
@media only screen and (min-width:768px){
    .card{
        padding-top: 83px;
    }
    .ingredient-card .card-body ul {
        font-weight: 100;
        font-size:18pt;
    } 
}
